body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  padding: 0;
  margin: 0;
  display: flex;
}

.sidebar {
  background-color: rgb(247, 234, 231);
  color: rgb(168, 31, 0);
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 800;
}
.main {
  display: grid;
  background-color: white;
  height: 100vh;
  width: 80vw;
  grid-template-rows: 1fr 8fr;
  gap: 25px;
}

li {
  list-style: none;
}

.modal-content {
  height: 150px;
  width: 250px;
  background-color: white;
  position: absolute;
  border: solid 2px black;
}

.addbutton {
  margin-top: 50px;
}

.tasknameinput {
  height: 35px;
}

#taskcontainer {
  padding: 0 35px 0 35px;
}

.taskdiv {
  width: 70vw;
  /* border: 2px solid black; */
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  border-bottom: 2px solid black;
}

#date,
.description {
  font-size: 0.7rem;
  color: grey;
}
#prioritySpan {
  position: relative;
  left: 60vw;
  bottom: 7vh;
  background-color: rgb(247, 234, 231);
  padding: 5px;
  border-radius: 5px;
}

/* .nav {
} */
