body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  padding: 0;
  margin: 0;
  display: flex;
}

.sidebar {
  background-color: rgb(247, 234, 231);
  color: rgb(168, 31, 0);
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  position: sticky;
}
.main {
  display: grid;
  background-color: white;
  height: 100vh;
  width: 80vw;
  grid-template-rows: 1fr 8fr;
  gap: 25px;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  background-color: #e0e0e0;
}

li:active {
  background-color: #d0d0d0;
}

.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  height: 200px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
  padding: 10px;
}
#modal-button {
  width: 200px;
}
.tasknameinput,
.taskdescription {
  width: 200px;
  height: 25px;
}

.addbutton {
  margin-top: 50px;
  cursor: pointer;
}

.close-btn {
  font-weight: 900;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #e0e0e0;
}
.close-btn:active {
  background-color: #d0d0d0;
}
.addbutton:hover {
  background-color: #e0e0e0;
}

.addbutton:active {
  background-color: #d0d0d0;
}

.projects {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 1rem;
}

.tasknameinput {
  height: 35px;
}

#taskcontainer {
  padding: 0 35px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.taskdiv {
  width: 70vw;
  /* border: 2px solid black; */
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  border-bottom: 2px solid black;
}

#date,
.description {
  font-size: 0.7rem;
  color: grey;
}
#prioritySpan {
  position: relative;
  left: 60vw;
  bottom: 42px;
  background-color: rgb(247, 234, 231);
  padding: 5px;
  border-radius: 5px;
}

#pmodal {
  position: absolute;
  top: 30vh;
  left: 50vw;
}

/* .nav {
} */

.ind {
  background-color: aqua;
}

.projectnameinput {
  height: 35px;
}
.newproject {
  font-size: 1.2rem;
}

.projectscontainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
